<%= link_to garden_path(garden) do %>
  <div class="card-garden">
    <%= image_tag garden.banner_url %>
    <div class="card-garden-infos">
      <div>
        <h2><%= garden.name %></h2>
        <p>Montant: <%= humanized_money_with_symbol(garden.price) %></p>
        <%= form_tag orders_path do %>
          <%= hidden_field_tag 'garden_id', garden.id %>
          <%= submit_tag 'Acheter', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


